extends layout
include _includes/sharedHTMLfunctions

block content
  #banner.page-header
   .row
      .col-lg-12
         h1= pageHeader
  .row
    .col-md-8.col-xs-12
     .row
       .col-md-6.col-xs-12
         div
           p.rating
             +outputRating(locations.ratings)
           p= locations.address
         div.panel.panel-primary
           .panel-heading
              h2.panel-title= opening
           .panel-body
             each day in openingTimes
              if(day.days === 'Sunday')
               p #{day.days}: #{day.time}closed
              else
               p #{day.days}: #{day.time}			  
         div.panel.panel-primary
          .panel-heading
            h2.panel-title= facility.title
          .panel-body
           each facitem in facility.facilities
            span.label.label-warning.yel= facitem
              &nbsp;
       .col-md-6.col-xs-12.location-map
         div.panel.panel-primary
           .panel-heading
              h2.panel-title Location map
           .panel-body
             img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')
      .row
       .col-md-12
         div.panel.panel-primary.review-panel
           .panel-heading
             span.panel-title= reviewsTitle
             span.pull-right
               a.btn.btn-default.mybtn(href='/location/review/new') Add review
           .panel-body.review-container
              each review in reviews
               .row
                 .review
                   .well.well-sm.review-header
                      span.rating
                         +outputRating(review.ratings) 
                        span #{review.name} #{review.date}
                   p.my= review.review
    .col-sm-4
      p.lead= aside.textOne
      p= aside.textTwo